.RecipeSchool {
    display: flex;
    font-family: sans-serif;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .pagination {
    list-style: none;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    cursor: pointer;
    margin-inline: auto;
  }
  
  .active {
    background-color: #2c3e50;
    border-radius: 50%;
    color: white;
  }
  
  .page-item {
    margin-inline: 10px;
    list-style: none;
    padding: 2px 12px;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  
  .next {
    margin-inline: 10px;
    list-style: none;
    padding: 2px 12px;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }

  .previous {
    margin-inline: 10px;
    list-style: none;
    padding: 2px 12px;
    height: 31px;
    width: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }